/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* intro  */
.intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.main-person-img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-right: 40px;
  object-fit: cover;
}

.title {
  margin: 0;
}

.contacting-source {
  margin-top: 20px;
}

/* Projects wrapper  */

.projects {
}
.projects-title {
  margin-bottom: 0;

}
.note{
  font-style: italic;
  margin-bottom: 30px;
  font-size: 14px;
}
.projects-wrapper {
}
.project-item {
  margin-bottom: 40px;
}
.project-date{
  font-style: italic;
}
.project-item-title {
}
.project-inner {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;

}
.project-img{
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-inner-info {
}
.links-to-project {
  margin-bottom: 10px;
}
.project-info-text {
  max-width: 400px;

}


/* table styles
 */
 h2{margin-bottom: 20px;}
 .tg  {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top;} tr:nth-child(even){background: rgb(209, 195, 195);} thead tr:first-child{background-color:coral;font-weight: bold;}